<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

DASHBOARD HOME

{% endblock %}

{% block body %}

<h1 class="center-align homepage-header">WELCOME TO SPORTS BETTING ! </h1>

<div class="container select-sport-container">

    <div class="row">
        <div class="col-lg-6">
            <a href="{% url 'dashboard:gameroom' %}" class="no-decoration">
                <div class="jumbotron select-sport-jumbo">
                    <h1 class = "select-sport-header"><i class="fas fa-futbol rotate"></i> <br> FIFA</h1>
                    <p class = "select-sport-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem natus magnam, sequi eius amet deserunt error voluptatum quasi quod placeat fugit iusto accusantium nulla. Sed minima exercitationem quo adipisci fuga.</p>
                </div>
            </a>
        </div>

        <div class="col-lg-6">
            <a href="#" class="no-decoration">
                <div class="jumbotron select-sport-jumbo">
                    <h1 class = "select-sport-header"><i class="fas fa-baseball-ball rotate"></i> <br> BASEBALL</h1>
                    <p class = "select-sport-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem natus magnam, sequi eius amet deserunt error voluptatum quasi quod placeat fugit iusto accusantium nulla. Sed minima exercitationem quo adipisci fuga.</p>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <a href="#" class="no-decoration">
                <div class="jumbotron select-sport-jumbo" >
                    <h1 class = "select-sport-header"><i class="fas fa-user-alt-slash"></i> <br> CRICKET</h1>
                    <p class = "select-sport-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem natus magnam, sequi eius amet deserunt error voluptatum quasi quod placeat fugit iusto accusantium nulla. Sed minima exercitationem quo adipisci fuga.</p>
                </div>
            </a>
        </div>

        <div class="col-lg-6">
            <a href="#" class="no-decoration">
                <div class="jumbotron select-sport-jumbo">
                    <h1 class = "select-sport-header"><i class="fas fa-basketball-ball rotate"></i> <br> NBA</h1>
                    <p class = "select-sport-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem natus magnam, sequi eius amet deserunt error voluptatum quasi quod placeat fugit iusto accusantium nulla. Sed minima exercitationem quo adipisci fuga.</p>
                </div>
            </a>
        </div>
    </div>

</div>
{% endblock %}