<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

DASHBOARD HOME

{% endblock %}

{% block body %}

<div>

    <h1 class="center-align gameroom-title">{{sport.sport_name}} </h1>

    <div class="container">
        <p class="gameroom-desc">{{sport.sport_desc}}</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-7">
        <div class="container">
            <div class="jumbotron">
                <button class="btn btn-outline-secondary createteam">CREATE TEAM</button>
                <button class="btn btn-outline-secondary createteam">AVAILABLE MATCHES</button>
                <button class="btn btn-outline-secondary createteam">FUT 21</button>
            </div>
        </div>
    </div>


    <div class="col-lg-5">
        <div class="container">
            <div class="jumbotron gameroom-tc">
                <h1 class="center-align tc"> T&C </h1>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores error unde nulla aut voluptates ratione, molestias in eligendi magni ut illo officia non exercitationem a amet quod quasi modi at, ab cum placeat omnis velit rerum accusamus. <br> Nihil dicta ea facere, illum sed ut veritatis eum dolores corporis neque nulla consequuntur officiis vero assumenda laudantium labore totam suscipit expedita, quam aliquam unde rerum facilis? <br> Ad nihil ipsum sequi reiciendis fugit. Fugiat minus qui, assumenda placeat pariatur, ullam exercitationem veritatis dolorum magnam eius aut atque doloremque.</p>
            </div>
        </div>
    </div>



</div>

{% endblock %}